<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Title</title>
        <!-- ==== GSAP CDN ==== -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>
<body>

   <section class="wrapper">
        <div class="left_container">
            <nav>
                <div class="logo_content">
                    <img src="../static/img/logo.png" alt="logo" class="nike_logo">
                </div>
                <ul class="nav_content">
                    <li><a class="nav_links active" href="javascript:void(0)">man</a></li>
                    <li><a class="nav_links" href="javascript:void(0)">women</a></li>
                    <li><a class="nav_links" href="javascript:void(0)">kids</a></li>
                    <li><a class="nav_links" href="javascript:void(0)">customize</a></li>
                </ul>
            </nav>
            <br>


            <br>
            <br><br><br>
            <BR>
            <section class="row">
                   <div class="col-md-6">
            <img src="../static/img/{{row[7]}}" alt="" class="img-fluid" width="65%">
        </div>
        <div class="col-md-6" >
        <h2>{{row[1]}}</h2> <br>
                <p class="text-muted">{{row[2]}}</p>
                <i> Category&nbsp:&nbsp{{row[5]}}</i>

                <h5 class="text-warning">Discount :&nbsp{{row[4]}}</h5>
                <b class="text-info">KSH &nbsp{{row[3]}}   </b> <br>
                <p class="text-muted">Color &nbsp{{row[2]}}</p>


        </div>
                    </ul>
            </section>
        </div>



		<!-- right ontainer -->
		<main class="right_container" class="bg-gradient-info">
            <nav class="right_nav">
                <ul class="right_nav_content">
                    <li class="r_nav_links">
                        model : Nike 456
                    </li>
                    <button class="cart_btn"><i class="ri-shopping-bag-fill"></i></button>
                </ul>
            </nav>
            <legend>
                <section>

                            <form action="/add" method="post" class="form-control col-sm-1" ><br><br><br>   <p class="text-muted">Enter Quantity</p><br>
                                 <input type="hidden" name="code" value="{{row[0]}}"/>
                                 <input type="number" name="quantity" placeholder="Qtty" value="1" required><br><br>
                                <h5 class="text-warning">Price :&nbspKSH &nbsp{{row[3]}}</h5><br>
                                 <button type="submit" class="btn btn-danger">ADD TO CART</button>
                                <br><br>

                                <br>
                            </form>

                    <br>

                </section>
        </main></legend>

	</section>

                <br><br><br><br><br><br><br><br>

   <script src="../static/js/ps.js"></script>
<script src="https://static.jamboshop.com/media/common/js/jquery.min.js">
	</script>
</body>
</html>